html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "HeliosCond", sans-serif;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: #fff;
  background-color: #060606;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.page-section {
  padding: 95px 0;
  border: 1px solid red;
}

.section-title {
  margin: 0 auto 108px;
  font-size: 40px;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: calc(1360px + 60px);
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-icon1 {
  position: relative;
  width: 20px;
  height: 20px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;

  span {
    position: absolute;
    left: 0;
    display: block;
    border-radius: 9px;
    width: 100%;
    height: 3px;
    background: #948e8e;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  span:nth-child(1) {
    top: 0;
  }

  span:nth-child(2) {
    top: 7px;
  }

  span:nth-child(3) {
    top: 14px;
  }

  &.open span:nth-child(1) {
    top: 10px;
    transform: rotate(135deg);
  }

  &.open span:nth-child(2) {
    left: -60px;
    opacity: 0;
  }

  &.open span:nth-child(3) {
    top: 10px;
    transform: rotate(-135deg);
  }
}

.dn {
  display: none !important;
}

.links {
  display: grid;
  grid-auto-flow: column;
  gap: 23px;

  li {
    width: 30px;
    height: 30px;
  }
}

.btn {
  display: inline-grid;
  align-items: center;
  grid-auto-flow: column;
  padding: 0 1em;
  min-height: 60px;
  box-shadow: 2px 1px 44px rgba(235, 49, 54, 1);
  font-weight: 700;
  font-size: 27px;
  background: #eb3136;
  transition: 0.3s;
  gap: 20px;

  &:hover {
    transform: scale(0.97);

    svg {
      animation: roll-in-blurred-right 0.3s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    }
  }
}

@-webkit-keyframes roll-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) rotate(720deg);
    transform: translateX(1000px) rotate(720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes roll-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) rotate(720deg);
    transform: translateX(1000px) rotate(720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.decorated {
  position: relative;
  z-index: 1;
  display: inline-block;

  &:after {
    content: "";
    position: absolute;
    left: -10%;
    bottom: -20%;
    z-index: -1;
    width: 120%;
    height: 70%;
    background-color: #442828;
    transform: skew(-30deg);
  }
}

.bold {
  font-weight: 700;
}

.flex-col {
  display: flex;
  flex-flow: column;
  align-items: center;
}