.site-header {
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px 0 10px;
  width: 100%;
  color: #fff;

  &.scrollable {
    z-index: 10;
    background-color: #000;
  }
}

.site-header__wrapper {
  display: flex;
  align-items: center;

}

.brand {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  margin-right: 30px;
  white-space: nowrap;
  gap: 20px;

  &__text {
    font-weight: 700;
    font-size: 30px;
    color: #c2c2c2;
  }

  &__img {
    min-width: 30px;
  }
}

.nav {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  margin-left: auto;
  font-size: 18px;

}

.nav__wrapper {

  @media (min-width: $small + 1) {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    gap: 26px;
  }

  li {
    white-space: nowrap;
  }
}

.nav__item {

  @media screen and (min-width: $small + 1) {
    &:hover {
      .nav__subwrapper {
        top: 100%;
      }
    }
  }

  a {
    display: block;
  }

  a.decorated {
    &:after {
      height: 0;
      transition: height 0.5s;
    }

    &:hover {
      &:after {
        height: 70%;
        transition: height 0.5s;
      }
    }
  }
}

.nav__item_social {
  display: none;
}

.nav__toggle {
  display: none;
  border: none;
  background: transparent;

  &:focus {
    outline: none;
  }
}

.nav__links {
  margin-left: 83px;

  li {
    &:hover {
      animation: jello-horizontal 0.9s both;
    }
  }
}