@media screen and (max-width: $xlarge) {
  .nav__links {
    margin-left: 30px;
    gap: 10px;
  }

  .brand__text {
    font-size: 25px;
  }

  .benefits__inner {
    margin: 0 0 75px;
  }

  .benefits__item {
    flex: 1 1 16.666%;
    min-width: auto;
  }

  .benefits__text {
    font-size: 18px;
  }

  .news__img {
    flex: 0 0 45%
  }

  .news__time {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 17px;
  }

  .news__line {
    margin-bottom: 22px;
    font-size: 28px;
    line-height: 30px;
  }

  .news__paragraph {
    margin-bottom: 18px;
    font-size: 19px;
    line-height: 25px;
  }

  .project {
    background-position: 400px 50%;
  }

}

@media screen and (max-width: $large) {
  .btn {
    min-height: 40px;
    font-size: 20px;
    line-height: 23px;

    svg {
      width: 17px;
    }
  }

  .section-title {
    margin-bottom: 75px;
    font-size: 30px;
  }

  .offer {
    background-image: url("../img/backgrounds/background-md.png");
  }

  .nav__wrapper {
    font-size: 16px;
  }

  .nav__links {
    margin-left: 10px;
    gap: 10px;
  }

  .brand__text {
    font-size: 20px;
  }

  .nav__item {
    &:first-child {
      display: none;
    }
  }

  .offer__title {
    margin-bottom: 46px;
    font-size: 30px;
  }

  .offer__list {
    margin-bottom: 45px;
    font-size: 23px;
    line-height: 26px;
    gap: 7px;

    li {
      padding-left: 33px;
    }
  }

  .offer__button {
    min-width: 230px;
  }

  .offer__list li::before {
    width: 0.7em;
    height: 0.7em;
  }

  .about__message {
    font-size: 18px;
    gap: 15px;
  }

  .about__title {
    margin-bottom: 35px;
  }

  .benefits__inner {
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 0 40px;
  }

  .benefits__item {
    flex: 0 1 25%;
    margin-bottom: 20px;
  }

  .benefits__text {
    margin: 0 auto;
    max-width: 210px;
  }

  .news__line {
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 29px;
  }

  .news__paragraph {
    margin-bottom: 18px;
    font-size: 15px;
    line-height: 17px;
  }

  .news__wrapper {
    padding-bottom: 89px;
  }

  .gallery__wrapper {
    padding-bottom: 78px;
  }

  .project {
    background-size: 80%;
  }

  .project__title {
    margin-bottom: 27px;
    font-size: 35px;
    line-height: 30px;
  }

  .project__text {
    margin-bottom: 51px;
    max-width: 50%;
    font-size: 20px;
  }

  .project__button {
    min-width: 230px;
  }
}

@media screen and (max-width: $medium) {
  .page-section {
    padding: 50px 0;
  }

  .section-title {
    margin-bottom: 60px;
  }

  .nav__wrapper {
    display: none;
  }

  .nav__links {
    gap: 30px;
  }

  .about__text {
    flex-basis: 70%;
    font-size: 15px;
    line-height: 16.7px;
  }

  .about__img {
    margin-right: 30px;

    &::after {
      left: -18px;
      top: -20px;
    }
  }

  .project {
    background-size: 53%;
    background-position: 455px 50%;
  }

  .project__title {
    margin-bottom: 42px;
    font-size: 30px;
    line-height: 28px;
  }

  .project__text {
    margin-bottom: 49px;
    font-size: 15px;
    line-height: 17px;
  }

  .project__button {
    min-width: 230px;
  }

  .footer {
    padding: 10px 0;
    font-size: 15px;
    line-height: 17px;

  }

  .swiper-pagination-bullet {
    width: 18px;
    height: 18px;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
  }
}

@media screen and (max-width: 921px) {
  .form {
    padding: 30px 20px;
    // max-width: 450px;
    font-size: 13px;
    gap: 11px;
  }

  .form__field {
    padding: 5px;
    font-size: 13px;
  }

  .form__fieldset {
    gap: 11px;
  }

  .form__add {
    font-size: 10px;
    line-height: 11px;
  }

  .form__policy {
    padding-top: 10px;
  }

  .form__btn {
    margin-top: 10px;
  }
}

@media screen and (max-width: $small) {
  .section-title {
    font-size: 25px;
  }

  .page-section {
    padding: 30px 0;
  }

  .site-header {
    padding: 10px 0;
  }

  .site-header__wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }

  .nav__wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 20;
    display: grid;
    align-content: baseline;
    justify-content: center;
    padding: 30px;
    height: 100vh;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    background-color: rgba(#000, 0.8);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out,
      opacity 0.3s ease-out;
    backdrop-filter: blur(6px);
    gap: 24px;

    &.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  .nav__links {
    margin: 0 40px 0 0;

  }

  .brand__img {
    max-width: 40px;
  }

  .offer {
    padding: 98px 0 35px;
  }

  .offer .container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .offer__title {
    margin-bottom: calc(15px + 4vw);
    font-size: 27px;
    line-height: 25px;
    text-align: center;
  }

  .offer__list {
    gap: 17px;
  }

  .offer__list li {
    padding: 0;
    font-size: 20px;
    line-height: 22px;
    text-align: center;

    &:before {
      display: none;

    }
  }

  .nav__item_social {
    display: block;
    margin-top: 70px;
    font-size: 20px;

    span {
      display: inline-block;
      margin-bottom: 36px;
    }
  }

  .nav__toggle {
    position: absolute;
    right: 15px;
    top: 23px;
    display: block;
  }

  .nav__links {
    display: none;
  }

  .about__inner {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .about__img {
    flex: 1 1 auto;
    order: 2;
    margin: 0;
    padding-top: 62%;
    width: 100%;
  }

  .about__text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-bottom: 50px;
    text-align: center;
  }

  .benefits__item {
    flex: 0 1 46%;
  }

  .news__slide {
    flex-flow: column;
  }

  .news__img {
    flex: auto;
    margin: 0;
    margin-bottom: 24px;
    padding-top: 53%;
    width: 100%;
  }

  .news__time {
    font-size: 13px;
    line-height: 14px;
  }

  .news__line {
    font-size: 25px;
    line-height: 29px;
  }

  .gallery__wrapper {
    padding-bottom: 100px;
  }

  .gallery__slide {
    padding-top: 90%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .project {
    background-image: url("../img/backgrounds/fighter-mob.png");
    background-position: center top;
    background-size: contain;
  }

  .project__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
  }

  .project__title {
    text-align: center;
  }

  .project__text {
    max-width: 100%;
    text-align: center;
  }

  .footer {
    font-size: 11px;
  }

  .footer__inner {
    flex-wrap: wrap;
  }

  .footer__copy,
  .footer__link,
  .footer__conf,
  .footer__design {
    flex: 0 0 50%;
  }

  .footer__link,
  .footer__design {
    text-align: right;
  }

}

@media screen and (max-width: 515px) {
  .form {
    border: none;
    padding: 0;
  }

  .form__field {
    min-height: 60px;
  }

  .form__field_name {
    grid-column: 1 / 4;
  }

  .form__field_region {
    grid-column: 1 / 4;
  }

  .form__fieldset {
    grid-template-columns: 60% 37%;
    grid-template-rows: repeat(2, 60px);
  }

  .form__field_achievements {
    grid-column: 1/3;
  }

  .form__field_tel {
    grid-column: 1/4;
  }

  .form__field_year {
    grid-column: 1/4;
  }

  .form__field_email {
    grid-column: 1/4;
  }

  .form__field_region2 {
    grid-column: 1/4;
  }

  .form__field_tournamentname {
    grid-column: 1/4;
  }

  .js-validate-error-label {
    position: absolute;
    left: 50%;
    bottom: -50px;
    text-align: center;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: $xsmall) {
  .brand__text {
    font-size: 20px;
  }

  .benefits__inner {
    margin: 0px -25px 40px;
  }

  .benefits__item {
    flex: 0 0 170px;
    font-size: 18px;
    line-height: 21px;
  }
}

// vertical

@media screen and (max-height: 500px) {
  .brand__img {
    min-width: auto;
    max-height: 40px;
  }

  .nav__toggle {
    top: 15px;
  }

  .nav__wrapper {
    padding: 10px;
    gap: 10px;
  }

  .nav__item_social {
    display: flex;
    align-items: center;
    margin-top: 20px;

    span {
      margin: 0 30px 0 0;
    }
  }
}