$maxWidth: _______;

@mixin adaptive-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

// если используем сетку лаврика - проверь, совпадают ли брейкпоинты и переменные
$xlarge: 1600px;
$large: 1200px;
$medium: 1024px;
$small: 768px;
$xsmall: 576px;